/* Import google fonts */

@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans|Raleway:400,800');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
       display: block;
   }
   body {
       line-height: 1;
   }
   ol, ul {
       list-style: none;
   }
   blockquote, q {
       quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
       content: '';
       content: none;
   }
   table {
       border-collapse: collapse;
       border-spacing: 0;
   }
   a{
       text-decoration: none;
   }

    /* stylesheet */

    html, body {
        height: 100%;
    }
    .wrap{
        font-family: 'Raleway ExtraBold', arial;
        max-width: 1170px;
        margin: 0 auto;
        font-size: 14px;
        padding: 100px 0px;
        color:#55595f;
        line-height: 1.3;
        position: relative;
        min-height: 100%;
        box-sizing: border-box;
    }
    .wrap::after{
        content: "";
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 217px;
        height: 110px;
        background: url("../images/blue-shape.png") no-repeat;
    }
    .head{
        color:#23282f;
        font-size: 17px;
        text-transform: uppercase;
    }
    .head h2{
        font-weight: bold;
        font-size: 30px;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
    }
    .flex-container h3{
        color:#23282f;
        font-size: 20px;
    }
    .flex-container p{
        margin-top: 10px;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.8;
    }
    .flex-container .box{
        width: calc((100% - 60px) / 3);
        margin-bottom: 50px;
    }
    .item-feature {
        display: flex;
        flex: 0 auto;
    }
    .icon-feature {
        width: 68px;
        height: 68px;
        margin-right: 30px;
        background: #e5eef0;
        position: relative;
    }
    .icon-feature:hover{
        background: #f7941d;
    }
    .wrap-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .flex-container .icon-feature::before{
        content: "";
        position: absolute;     
        top:50%;
        margin-top: -20px;
        left:50%;
        margin-left: -20px;
        background: url("../images/sprites.png");
        background-position: -7px -9px;
        width: 40px;
        height: 40px;;
    }
    .flex-container .ic_second::before{
        background-position: -52px -7px;
        width: 44px;
    }
    .flex-container .ic_third::before{
        background-position: -108px -6px;
    }
    .flex-container .ic_fourth::before{
        background-position: -7px -62px;
    }
    .flex-container .ic_fifth::before{
        background-position: -61px -58px;
        width: 29px;
        margin-left: -15px;
    }
    .flex-container .ic_sixth::before{
        background-position: -104px -62px;
    }
    .btn_block{
        text-transform: uppercase;
        text-align: center;
    }
    .btn{
        display: inline-block;
        padding: 10px 20px;
        background: #29c2e1;
        border-radius: 20px;
        color:#fff;
        font-family: 'Karla', sans-serif;
    }

    /* Media Queries */

    @media screen and (max-width: 992px) {
        .flex-container .box{
            width: 50%;
        }
    }
    @media screen and (max-width: 576px) {
        .wrap{
            padding-top:50px;
        }
        .head{
            text-align: center;
        }
        .flex-container {
            justify-content: center;
        }
        .flex-container .box{
            width: 90%;
        }
    }